{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}

<header class="navigation">    
        <img src="assets/img/logo-v2.png" class="menu-logo"/>
        <div class="menu-search">
            <img src="assets/img/search.png" class="search-icon"/> <span class="search-text">Zoeken</span>
        </div>
        <div class="menu-button">
            <div class="menu-button-trigger"> <img src="assets/img/menu-icon.svg" class="menu-icon" id="menu-trigger"/>
                <div class="dropdown" id="dropdown">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="assets/img/logo-v2.png" class="dropdown-menu-logo"/>
                        </div>
                        <div class="col-md-3 dropdown-text">    
                            <span>Mijn Favorieten</span>
                        </div>
                        <div class="col-md-4 dropdown-text">    
                            <span>Mijn Boodschappenlijst</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
</header>

{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}

{# Loop #}
    
    <section>
        <div class="row">
            {% for recipe in data %} {# sorteer op basis van datum toegevoegd #}
                <div class="col-md-6">                    
                    <div class="content">
                        <img src="{{ recipe.recipe.afbeelding }}" class="recipe-image">
                        <div class="recipe-content">
                            <div class="row">    
                                {#top row#}
                                <div class="col-md-8">
                                    <h2 class="recipe-title">
                                        {{ recipe.recipe.titel }}                                        
                                    </h2>
                                </div>    
                                <div class="col-md-4 stars">
                                    {% set total = 5 %}
                                    {% set full_stars = ( recipe.stars|round(0) ) %}
                                    {% set empty_stars = total - full_stars %}
                                    {% for i in 1 .. full_stars %}
                                        <img src="assets/img/full-star.svg" class="star-icons"/>     
                                    {% endfor %}
                                    {% for j in 1 .. empty_stars %}
                                        <img src="assets/img/empty-star.svg" class="star-icons"/>     
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">    
                                {#middle row#}
                                <div class="col-md-12">
                                    <span class="short-description">{{ recipe.recipe.korte_omschrijving }}</span>
                                </div>
                            </div>
                            <div class="row">
                                {#bottom row#}
                                <div class="col-md-5">
                                    <button type="button" class="smullen-button" className="">{{ "Smullen!" }}</button>
                                </div>
                                <div class="col-md-7 recipe-info">
                                    <img src="assets/img/people-icon.png" class="recipe-icons"/> {{4}}
                                    <span class="euro-sign"> &euro; </span> <span>{{ recipe.price|round(2) }}</span>
                                    <img src="assets/img/calorie-icon.png" class="recipe-icons"/> <span>{{ recipe.calories|round(0) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <br>  
                </div>                             
                
            {% endfor %}
            <div class="page-selection">
                <span class="page-index">1</span>
                <span class="page-index">2</span>
                <span class="page-index">3</span>
                <span class="page-index">4</span>
                <span class="page-index">5</span>
                <span class="page-index">6</span>
                <span class="page-index">7</span>
                <span class="page-index">8</span>
            </div>
        </div>
         
    </section>
    
    <script>
        var menu_trigger = document.getElementById("menu-trigger");
        var dropdown = document.getElementById("dropdown");

        menu_trigger.addEventListener('click', ()=>{
                dropdown.style.display = 'block';
                menu_trigger.style.display = 'none';
            })

        dropdown.addEventListener('click', ()=>{
            dropdown.style.display = 'none';
            menu_trigger.style.display = 'flex';
        })
    </script>
     
{% endblock %}
